In [248]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [249]:
df=pd.read_csv('C:/Users/chafl/OneDrive/Desktop/yash/DeepLeaning/csv/Churn_Modelling.csv')

In [250]:
print(df.shape)

(10000, 14)

In [251]:
df.duplicated().sum()
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [252]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [253]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [254]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [255]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Age                10000 non-null  int64
 2   Tenure             10000 non-null  int64
 3   Balance            10000 non-null  float64
 4   NumOfProducts      10000 non-null  int64
 5   HasCrCard          10000 non-null  int64
 6   IsActiveMember     10000 non-null  int64
 7   EstimatedSalary    10000 non-null  float64
 8   Exited             10000 non-null  int64
 9   Geography_Germany  10000 non-null  bool
 10  Geography_Spain    10000 non-null  bool
 11  Gender_Male        10000 non-null  bool
dtypes: bool(3), float64(2), int64(7)
memory usage: 732.6 KB

In [256]:
X=df.drop(columns=['Exited'])
y=df['Exited'].values
from sklearn.model_selection import train_test_split
X_train,X_test,y_test,y_train=train_test_split(X,y,test_size=0.5,random_state=1)

In [257]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [258]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [259]:
model=Sequential()
model.add(Dense(10,activation='relu',input_dim=11))
model.add(Dense(10,activation='relu',input_dim=11))
model.add(Dense(1,activation='sigmoid'))

c:\Users\chafl\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [260]:
model.summary()

Model: "sequential_10"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_18 (Dense)                │ (None, 10)             │           120 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_19 (Dense)                │ (None, 10)             │           110 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_20 (Dense)                │ (None, 1)              │            11 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 241 (964.00 B)

 Trainable params: 241 (964.00 B)

 Non-trainable params: 0 (0.00 B)

In [261]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [262]:
model.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.6209
Epoch 2/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5180
Epoch 3/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.5160
Epoch 4/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5117
Epoch 5/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5005
Epoch 6/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5110
Epoch 7/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5107
Epoch 8/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4987
Epoch 9/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5038
Epoch 10/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.4993

In [263]:

model.layers[1].get_weights()

[array([[ 0.4519774 , -0.13713865, -0.6542357 ,  0.40688983,  0.06151192,
         -0.52976817,  0.30621177,  0.15502748,  0.46435812,  0.45051062],
        [-0.27164254, -0.1535966 , -0.03154989, -0.2882915 ,  0.36965707,
          0.31071192, -0.416748  , -0.75146127,  0.09424793, -0.14903867],
        [-0.6018244 ,  0.37271148,  0.11058363, -0.51708317,  0.4462141 ,
          0.36868298,  0.03808897,  0.02964979,  0.3368116 , -0.52622676],
        [ 0.21225981, -0.1885214 ,  0.40603027, -0.3666454 , -0.2202403 ,
         -0.3302363 ,  0.62059206, -0.8358563 ,  0.48548442,  0.5845925 ],
        [-0.12331463, -0.09286696, -0.5189151 ,  0.2523191 ,  0.59937215,
          0.5991061 , -0.38000843,  0.4347474 ,  0.3559286 ,  0.6507574 ],
        [-0.18220194, -0.30535173, -0.3029968 , -0.48715284,  0.08002238,
          0.31509298, -0.30864894,  0.24121274, -0.38438818, -0.25866377],
        [ 0.27725923,  0.39649832,  0.38675353,  0.12643203, -0.32523263,
          0.23035997,  0.05485122, -0.31854042,  0.4362625 ,  0.3200749 ],
        [-0.37758636,  0.36568734,  0.00391568,  0.02242025, -0.18321586,
         -0.29816526,  0.26940545, -0.0548147 ,  0.5559607 , -0.2665038 ],
        [-0.13686053,  0.31852388,  0.0186326 , -0.2843221 , -0.2398994 ,
          0.17146225,  0.43303537, -0.41633412, -0.15053314, -0.25861794],
        [ 0.2943237 , -0.3555034 , -0.37990776, -0.24144651,  0.27412435,
          0.04297532,  0.5200653 ,  0.27393243, -0.32045943, -0.28636903]],
       dtype=float32),
 array([-0.11405289,  0.18794246, -0.10600102, -0.11502974,  0.27644128,
         0.2332251 ,  0.18588024, -0.1140402 ,  0.25515088,  0.18752384],
       dtype=float32)]

In [264]:
y_log=model.predict(X_test_scaled)

157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [265]:
y_pred=np.where(y_log>0.5,1,0)

In [266]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7978